{% extends "ADMIN/ADMIN HOME.html" %}{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table align="center" width="763" height="336" border="1">
    <tr>
      <th width="108" scope="col">#</th>
      <th width="121" scope="col">FOOD_TYPE</th>
      <th width="129" scope="col">FOOD_NAME</th>
      <th width="108" scope="col">PRICE</th>
      <th width="108" scope="col">IMAGE</th>
      <th width="131" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['food_type'] }}</td>
      <td>{{ i['food_name'] }}</td>
      <td> {{ i['price'] }}</td>
      <td>&nbsp;<img src="{{ i['image'] }}" alt="food image" height="100" width="100"/> </td>
      <td><div align="center">
          <p><a href="/offer/{{ i['food_id'] }}">ADD OFFER</a></p>

      </div></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
