{% extends "ADMIN/ADMIN HOME.html" %}{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/add_food1" method="post" enctype="multipart/form-data">
  <table align="center" width="596" height="337" border="1" class="table table-hover">
    <tr>
      <th width="241" scope="col">FOOD TYPE</th>
      <th width="339" scope="col"><label for="textfield"></label>
      <label for="select"></label>
      <select name="select" id="select">
          {% for i in data %}
          <option value="{{ i['food_type_id'] }}">{{ i['food_type'] }}</option>
          {% endfor %}
      </select></th>
    </tr>
    <tr>
      <td><div align="center"><strong>FOOD NAME</strong></div></td>
      <td><label for="textfield2"></label>
        <div align="center">
          <input type="text" name="textfield2" id="textfield2" />
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><strong>PRICE</strong></div></td>
      <td><label for="fileField"></label>
        <label for="textfield3"></label>
        <div align="center">
          <input type="text" name="textfield" id="textfield3" />
        </div>
      <div align="right"></div></td>
    </tr>
    <tr>
      <td><div align="center"><strong>IMAGE</strong></div></td>
      <td><label for="fileField2"></label>
        <div align="right">
          <input type="file" name="fileField" id="fileField2" />
      </div></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}