<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post" enctype="multipart/form-data">
  <table align="center" width="447" height="485" border="1">
    <tr>
      <th width="187" scope="col">FOOD TYPE</th>
      <th width="244" scope="col"><label for="textfield"></label>
        <label for="select"></label>

        <select name="food_type" id="food_type">

                          {% for i in food %}

          <option value="{{ i['food_type_id'] }}">{{ i['food_type'] }}</option>
            {% endfor %}
      </select>
      </th>
    </tr>
    <tr>
      <td><div align="center"><strong>FOOD NAME</strong></div></td>
      <td><label for="textfield2"></label>
        <div align="center">
          <input type="text" name="textfield2" id="textfield2" value="{{ data['food_name']}}"/>
      </div></td>
    </tr>

  <tr>
      <td><div align="center"><strong>PRICE</strong></div></td>
      <td><label for="textfield2"></label>
        <div align="center">
          <input type="text" name="PRICE" id="PRICE" value="{{ data['price'] }}" />
      </div></td>
    </tr>


    <tr>
      <td><div align="center"><strong>IMAGE</strong></div></td>
      <td><img src="{{ data['image'] }}" alt="food image" height="100" width="100"/><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="UPDATE" />
      </div></td>
    </tr>



  </table>
</form>
</body>
</html>
