<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reply1/{{ id }}">
  <table width="599" height="259" border="1">
    <tr>
      <th width="151" scope="row">REPLY</th>
      <td width="432"><label for="textarea"></label>
        <div align="center">
          <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
      </div></td>
    </tr>
    <tr>
      <th height="90" colspan="2" scope="row"><input type="submit" name="button" id="button" value="SEND" /></th>
    </tr>
  </table>
</form>
</body>
</html>
