{% extends "ADMIN/ADMIN HOME.html" %}{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/staff_reg" method="post" enctype="multipart/form-data">
  <table align="center" width="658" height="312" border="1" class="table table-hover">
    <tr>
      <td >STAFF NAME</td>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <td>STAFF PHOTO</td>
      <td><label for="fileField"></label>
        <div align="right">
          <input type="file" name="fileField" id="fileField" class="form-control" />
      </div></td>
    </tr>
    <tr>
      <td>CONTACT</td>
      <td><label for="textfield2"></label>
        <div align="center">
          <input type="text" name="textfield2" id="textfield2" class="form-control" />
      </div></td>
    </tr>
    <tr>
      <td height="97" colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="REGISTER"  class="btn-outline-primary"/>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}