
{% extends "ADMIN/ADMIN HOME.html" %}{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="get" action="">
  <table border="1" class="table table-hover">
    <tr>
      <th>#</th>
      <th >TABLE NAME</th>
      <th>&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['table_name'] }}</td>
      <td><div align="center"><a href="/del_table/{{ i['table_id'] }}">DELETE</a></div></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
