{% extends "KITCHEN/KITCHEN HOME.html" %}{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table align="center" width="570" height="220" border="1" class="table table-hover">
    <tr>
      <th width="75" scope="col">#</th>
      <th width="288" scope="col">FOOD NAME</th>
      <th width="288" scope="col">PRICE</th>
      <th width="288" scope="col">QUANTITY</th>

    </tr>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['food_name'] }}<br><img src="{{ i['image'] }}" height="150"width="150"/>&nbsp;</td>
      <td>{{ i['price'] }}&nbsp;</td>
      <td>{{ i['quantity'] }}&nbsp;</td>


    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}


